/*# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Soft blue: hsl(215, 51%, 70%)
- Cyan: hsl(178, 100%, 50%)

### Neutral

- Very dark blue (main BG): hsl(217, 54%, 11%)
- Very dark blue (card BG): hsl(216, 50%, 16%)
- Very dark blue (line): hsl(215, 32%, 27%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size (paragraph): 18px

### Font

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 300, 400, 600
*/

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  color: hsl(215, 51%, 70%);
  background: hsl(217, 54%, 11%);
  display: grid;
  place-content: center;
  font-family: "Outfit", sans-serif;
  height: 100vh;
  width: auto;
}

main {
  width: 330px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 15px;
  background: hsl(216, 50%, 16%);
  border-radius: 10px;
}

.nft {
  width: 300px;
  border-radius: 10px;
}

h1 {
  font-size: 1.5rem;
  color: hsl(0, 0%, 100%);
  margin-top: 20px;
}

.description {
  margin-top: 20px;
  font-weight: 300;
}

.row {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.price {
  color: hsl(178, 100%, 50%);
  font-weight: 600;
  padding: 0.5rem;
}

.price svg {
  margin-right: 5px;
}

.days {
  padding: 0.5rem;
}

.days svg {
  margin-right: 5px;
}

hr {
    border-color: hsl(215, 32%, 27%);
    border-top: none;
    margin-top: 15px;
}

.Creation {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 5px;
}

.profile {
    border: 1px solid white;
    border-radius: 50%;
    width: 30px;
    height: auto;
    margin-right: 15px;
}

.Creation span {
    font-weight: bold;
    color: white;
    margin-left: 3px;
}

.attribution {
    position: absolute;
    font-size: 0.9rem;
    bottom: 0;
    right: 0;
}

/* hover effects*/

.hover {
    transition: 0.5s ease
}

.hover:hover {
    color: hsl(178, 100%, 50%);
    cursor: default;
}

.nft {
    display: block;
}

.container {
    position: relative;
    border-radius: 10px;
    width: 300px;
    height: auto
}

.overlay {
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: hsl(178, 100%, 50%, 60%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
}

.container:hover .overlay{
    opacity: 1;
}

.container:hover .overlay svg {
    opacity: 1;
}